
/* nav para todos */
.nav {
    display: flex;
    border-radius: 17px;
    padding: 6px;
    margin: -7px;
    background-color: #5cab3e;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.nav .icon {
    flex: 1;
    text-align: center;
    border-right: 2px solid white; 
    margin-right: 10px; 
}

.nav .icon:last-child {
    border-right: none;
    margin-right: 0; 
}


/* INDEX */

.main-index{
     text-align: center;
}

/* FICHAS */

h1{
    text-align: center;
}

.main-fichas{
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card {
    width: 18rem;
    margin-bottom: 20px;
}

#total {
    background-color: #f8f9fa; 
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #007bff; 
    border-radius: 10px; 
    font-weight: bold; 
    width: 80%;
    margin: 0 auto; 
  }
  
/* CONTACTO */

form {
    max-width: 400px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}